{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Зв'язок із Адміністратором{% endblock meta_title %}

{% block title %}Зв'язок із Адміністратором{% endblock %}

<!-- Status Message -->
{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">Будь-ласка, виправте наступні помилки</div>
    {% endif %}
    {{ block.super }}
{% endblock status_message %}


{% block content %}

{#    <form action="{% url 'contact-form' %}" method="post">#}
{#        {% csrf_token %}#}
{##}
{#        {{ form.as_p }}#}
{##}
{#        <input type="submit" value="Надіслати" name="send_button"/>#}
{##}
{#    </form>#}

    {% crispy form %}

{% endblock content%}